'editor':
  'showIndentGuide': true
  'useHardwareAcceleration': false
  'fontSize': 14
  'fontFamily': 'Menlo'
  'invisibles': {}
'core':
  'disabledPackages': [
    'go-to-line'
    'autosave'
    'autocomplete-plus'
    'highlight-selected'
    'exception-reporting'
    'metrics'
  ]
  'themes': [
    'atom-dark-ui'
    'solarized-dark-syntax'
  ]
  'useReactEditor': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'tabs-to-spaces':
  'onSave': 'untabify'
'welcome':
  'showOnStartup': false
'release-notes':
  'viewedVersion': '0.95.0'
'tree-view': {}
'exception-reporting': {}
'metrics': {}
'tabs': {}
